<style>
@font-face {
  font-family: "Questa";
  font-weight: normal;
  font-style: normal;
  src: url("http://serena.nz/fonts/Questa_Regular.woff2") format("woff2"),
       url("http://serena.nz/fonts/Questa_Regular.woff") format("woff")
}
@font-face {
  font-family: 'Questa Sans';
  font-weight: normal;
  font-style: normal;
  src: url('http://serena.nz/fonts/Questa_Sans_Regular.woff2') format('woff2'),
       url('http://serena.nz/fonts/Questa_Sans_Regular.woff') format('woff');
}
@font-face {
  font-family: "QuestaGrande";
  font-weight: normal;
  font-style: normal;
  src: url("http://serena.nz/fonts/Questa_Grande_Regular.woff2") format("woff2"),
       url("http://serena.nz/fonts/Questa_Grande_Regular.woff") format("woff")
}
</style>